<footer class="footer">
  <p>Fehlermeldungen und Verbesserungsvorschläge bitte an <a href="mailto:info@faxxter.com">info@faxxter.com</a>!</p>
  <p><a href="https://gitlab.com/antora/antora-ui-default">Antora default UI</a> mit ein paar Anpassungen unter der Haube.</p>
  <p>Der Quellcode für diese UI ist lizenziert unter den Bedingungen der MPL-2.0 Lizenz.</p>
</footer>



