<footer class="footer">
  <p><a href="https://gitlab.com/antora/antora-ui-default">Antora default UI</a> with supplemental modifications under the hood.</p>
  <p>The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>
</footer>



